<section class="bg-gray-100 px-2">
    <div aria-label="Get choice of your course" role="Get choice of your course container ">
        <div class="max-w-7xl mx-auto py-12">
            <!-- Section Heading -->
            <div class="flex justify-between items-center">
                <p class="mb-6 text-3xl font-bold text-gray-800">Get choice of your course</p>
                <a role="button" class="text-[#49BBBD] text-[20px]" href="#">See All</a>
            </div>
            <!-- card-grid -->
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 items-stretch">
                <!-- card -->
                <div class="bg-white p-4 rounded-2xl">
                    <!-- card image -->
                    <div class="overflow-hidden rounded-2xl pb-2">
                        <img class="w-full h-full" src="stud-1.jpg" alt="course-img">
                    </div>
                    <!-- card body -->
                    <div class="">
                        <div class="flex justify-between px-2">
                            <div class="inline-flex gap-1 ">
                                <div class="">
                                    <svg width="20" height="20" viewBox="0 0 21 21" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g id="9615b0c0">
                                            <rect id="b7eddd3e" x="0.5" y="0.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="8c543800" x="0.5" y="11.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="46d20585" x="11.5" y="11.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="37db3719" x="11.5" y="0.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                        </g>
                                    </svg>
                                </div>
                                <p class="font-semibold tracking-tight text-gray-500 text-sm ">Design</p>

                            </div>
                            <div class="inline-flex items-center gap-1 ">
                                <div>
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path id="1151ade9"
                                            d="M11.625 0C18.0469 0 23.25 5.20312 23.25 11.625C23.25 18.0469 18.0469 23.25 11.625 23.25C5.20312 23.25 0 18.0469 0 11.625C0 5.20312 5.20312 0 11.625 0ZM11.625 21C16.7812 21 21 16.8281 21 11.625C21 6.46875 16.7812 2.25 11.625 2.25C6.42188 2.25 2.25 6.46875 2.25 11.625C2.25 16.8281 6.42188 21 11.625 21ZM14.4844 16.125L10.5 13.2188C10.3594 13.125 10.3125 12.9375 10.3125 12.7969V5.0625C10.3125 4.78125 10.5469 4.5 10.875 4.5H12.375C12.6562 4.5 12.9375 4.78125 12.9375 5.0625V11.7188L16.0312 14.0156C16.3125 14.2031 16.3594 14.5312 16.1719 14.8125L15.2812 15.9844C15.0938 16.2656 14.7656 16.3125 14.4844 16.125Z"
                                            fill="#D9D9D9"></path>
                                    </svg>
                                </div>
                                <p class="font-semibold tracking-tight text-gray-500 text-sm ">3 Month</p>
                            </div>
                        </div>
                        <p class=" text-md  sm:text-xl md:text-2xl font-semibold text-gray-700 pt-2 tracking-tight">AWS
                            Certified solutions Architect</p>
                        <p class="text-sm  sm:text-md md:text-xl font-normal text-gray-500 py-2 tracking-tight">Lorem
                            ipsum
                            dolor sit amet, consectetur adipising elit, sed do eiusmod tempor</p>
                    </div>

                    <!-- card footer -->
                    <div class="flex justify-between pt-2 ">
                        <div class="flex items-center gap-2">
                            <div class="size-5 overflow-hidden rounded-full">
                                <img class="w-full h-full" src="stud-1.jpg" alt="user-img">
                            </div>
                            <p class="text-md tracking-tight font-semibold">Ravi Gahire</p>
                        </div>
                        <div class="inline-flex gap-2 items-center"><span
                                class="text-md line-through font-bold text-gray-400">$100</span><span
                                class="text-xl text-[#49BBBD] font-extrabold">$80</span></div>
                    </div>
                </div>
                <!-- card -->
                <div class="bg-white p-4 rounded-2xl">
                    <!-- card image -->
                    <div class="overflow-hidden rounded-2xl pb-2">
                        <img class="w-full h-full" src="stud-1.jpg" alt="course-img">
                    </div>
                    <!-- card body -->
                    <div class="">
                        <div class="flex justify-between px-2">
                            <div class="inline-flex gap-1 ">
                                <div class="">
                                    <svg width="20" height="20" viewBox="0 0 21 21" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g id="9615b0c0">
                                            <rect id="b7eddd3e" x="0.5" y="0.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="8c543800" x="0.5" y="11.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="46d20585" x="11.5" y="11.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="37db3719" x="11.5" y="0.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                        </g>
                                    </svg>
                                </div>
                                <p class="font-semibold tracking-tight text-gray-500 text-sm ">Design</p>

                            </div>
                            <div class="inline-flex items-center gap-1 ">
                                <div>
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path id="1151ade9"
                                            d="M11.625 0C18.0469 0 23.25 5.20312 23.25 11.625C23.25 18.0469 18.0469 23.25 11.625 23.25C5.20312 23.25 0 18.0469 0 11.625C0 5.20312 5.20312 0 11.625 0ZM11.625 21C16.7812 21 21 16.8281 21 11.625C21 6.46875 16.7812 2.25 11.625 2.25C6.42188 2.25 2.25 6.46875 2.25 11.625C2.25 16.8281 6.42188 21 11.625 21ZM14.4844 16.125L10.5 13.2188C10.3594 13.125 10.3125 12.9375 10.3125 12.7969V5.0625C10.3125 4.78125 10.5469 4.5 10.875 4.5H12.375C12.6562 4.5 12.9375 4.78125 12.9375 5.0625V11.7188L16.0312 14.0156C16.3125 14.2031 16.3594 14.5312 16.1719 14.8125L15.2812 15.9844C15.0938 16.2656 14.7656 16.3125 14.4844 16.125Z"
                                            fill="#D9D9D9"></path>
                                    </svg>
                                </div>
                                <p class="font-semibold tracking-tight text-gray-500 text-sm ">3 Month</p>
                            </div>
                        </div>
                        <p class=" text-md  sm:text-xl md:text-2xl font-semibold text-gray-700 pt-2 tracking-tight">AWS
                            Certified solutions Architect</p>
                        <p class="text-sm  sm:text-md md:text-xl font-normal text-gray-500 py-2 tracking-tight">Lorem
                            ipsum
                            dolor sit amet, consectetur adipising elit, sed do eiusmod tempor</p>
                    </div>

                    <!-- card footer -->
                    <div class="flex justify-between pt-2 ">
                        <div class="flex items-center gap-2">
                            <div class="size-5 overflow-hidden rounded-full">
                                <img class="w-full h-full" src="stud-1.jpg" alt="user-img">
                            </div>
                            <p class="text-md tracking-tight font-semibold">Ravi Gahire</p>
                        </div>
                        <div class="inline-flex gap-2 items-center"><span
                                class="text-md line-through font-bold text-gray-400">$100</span><span
                                class="text-xl text-[#49BBBD] font-extrabold">$80</span></div>
                    </div>
                </div>

                <!-- card -->
                <div class="bg-white p-4 rounded-2xl">
                    <!-- card image -->
                    <div class="overflow-hidden rounded-2xl pb-2">
                        <img class="w-full h-full" src="stud-1.jpg" alt="course-img">
                    </div>
                    <!-- card body -->
                    <div class="">
                        <div class="flex justify-between px-2">
                            <div class="inline-flex gap-1 ">
                                <div class="">
                                    <svg width="20" height="20" viewBox="0 0 21 21" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g id="9615b0c0">
                                            <rect id="b7eddd3e" x="0.5" y="0.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="8c543800" x="0.5" y="11.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="46d20585" x="11.5" y="11.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="37db3719" x="11.5" y="0.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                        </g>
                                    </svg>
                                </div>
                                <p class="font-semibold tracking-tight text-gray-500 text-sm ">Design</p>

                            </div>
                            <div class="inline-flex items-center gap-1 ">
                                <div>
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path id="1151ade9"
                                            d="M11.625 0C18.0469 0 23.25 5.20312 23.25 11.625C23.25 18.0469 18.0469 23.25 11.625 23.25C5.20312 23.25 0 18.0469 0 11.625C0 5.20312 5.20312 0 11.625 0ZM11.625 21C16.7812 21 21 16.8281 21 11.625C21 6.46875 16.7812 2.25 11.625 2.25C6.42188 2.25 2.25 6.46875 2.25 11.625C2.25 16.8281 6.42188 21 11.625 21ZM14.4844 16.125L10.5 13.2188C10.3594 13.125 10.3125 12.9375 10.3125 12.7969V5.0625C10.3125 4.78125 10.5469 4.5 10.875 4.5H12.375C12.6562 4.5 12.9375 4.78125 12.9375 5.0625V11.7188L16.0312 14.0156C16.3125 14.2031 16.3594 14.5312 16.1719 14.8125L15.2812 15.9844C15.0938 16.2656 14.7656 16.3125 14.4844 16.125Z"
                                            fill="#D9D9D9"></path>
                                    </svg>
                                </div>
                                <p class="font-semibold tracking-tight text-gray-500 text-sm ">3 Month</p>
                            </div>
                        </div>
                        <p class=" text-md  sm:text-xl md:text-2xl font-semibold text-gray-700 pt-2 tracking-tight">AWS
                            Certified solutions Architect</p>
                        <p class="text-sm  sm:text-md md:text-xl font-normal text-gray-500 py-2 tracking-tight">Lorem
                            ipsum
                            dolor sit amet, consectetur adipising elit, sed do eiusmod tempor</p>
                    </div>

                    <!-- card footer -->
                    <div class="flex justify-between pt-2 ">
                        <div class="flex items-center gap-2">
                            <div class="size-5 overflow-hidden rounded-full">
                                <img class="w-full h-full" src="stud-1.jpg" alt="user-img">
                            </div>
                            <p class="text-md tracking-tight font-semibold">Ravi Gahire</p>
                        </div>
                        <div class="inline-flex gap-2 items-center"><span
                                class="text-md line-through font-bold text-gray-400">$100</span><span
                                class="text-xl text-[#49BBBD] font-extrabold">$80</span></div>
                    </div>
                </div>
                <!-- card -->
                <div class="bg-white p-4 rounded-2xl">
                    <!-- card image -->
                    <div class="overflow-hidden rounded-2xl pb-2">
                        <img class="w-full h-full" src="stud-1.jpg" alt="course-img">
                    </div>
                    <!-- card body -->
                    <div class="">
                        <div class="flex justify-between px-2">
                            <div class="inline-flex gap-1 ">
                                <div class="">
                                    <svg width="20" height="20" viewBox="0 0 21 21" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g id="9615b0c0">
                                            <rect id="b7eddd3e" x="0.5" y="0.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="8c543800" x="0.5" y="11.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="46d20585" x="11.5" y="11.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="37db3719" x="11.5" y="0.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                        </g>
                                    </svg>
                                </div>
                                <p class="font-semibold tracking-tight text-gray-500 text-sm ">Design</p>
                            </div>
                            <div class="inline-flex items-center gap-1 ">
                                <div>
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path id="1151ade9"
                                            d="M11.625 0C18.0469 0 23.25 5.20312 23.25 11.625C23.25 18.0469 18.0469 23.25 11.625 23.25C5.20312 23.25 0 18.0469 0 11.625C0 5.20312 5.20312 0 11.625 0ZM11.625 21C16.7812 21 21 16.8281 21 11.625C21 6.46875 16.7812 2.25 11.625 2.25C6.42188 2.25 2.25 6.46875 2.25 11.625C2.25 16.8281 6.42188 21 11.625 21ZM14.4844 16.125L10.5 13.2188C10.3594 13.125 10.3125 12.9375 10.3125 12.7969V5.0625C10.3125 4.78125 10.5469 4.5 10.875 4.5H12.375C12.6562 4.5 12.9375 4.78125 12.9375 5.0625V11.7188L16.0312 14.0156C16.3125 14.2031 16.3594 14.5312 16.1719 14.8125L15.2812 15.9844C15.0938 16.2656 14.7656 16.3125 14.4844 16.125Z"
                                            fill="#D9D9D9"></path>
                                    </svg>
                                </div>
                                <p class="font-semibold tracking-tight text-gray-500 text-sm ">3 Month</p>
                            </div>
                        </div>
                        <p class=" text-md  sm:text-xl md:text-2xl font-semibold text-gray-700 pt-2 tracking-tight">AWS
                            Certified solutions Architect</p>
                        <p class="text-sm  sm:text-md md:text-xl font-normal text-gray-500 py-2 tracking-tight">Lorem
                            ipsum
                            dolor sit amet, consectetur adipising elit, sed do eiusmod tempor</p>
                    </div>

                    <!-- card footer -->
                    <div class="flex justify-between pt-2 ">
                        <div class="flex items-center gap-2">
                            <div class="size-5 overflow-hidden rounded-full">
                                <img class="w-full h-full" src="stud-1.jpg" alt="user-img">
                            </div>
                            <p class="text-md tracking-tight font-semibold">Ravi Gahire</p>
                        </div>
                        <div class="inline-flex gap-2 items-center"><span
                                class="text-md line-through font-bold text-gray-400">$100</span><span
                                class="text-xl text-[#49BBBD] font-extrabold">$80</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Middel card -->
    <div aria-label="middel container" role="card" class="bg-[#252641] mx-auto max-w-7xl text-white rounded-2xl">
        <div class="pt-10">
            <p class="text-[36px] text-center font-semibold tracking-tight">Online coaching lessons for remote learning.
            </p>
        </div>
        <div class="px-10 mx-auto  ">
            <p class="text-[24px] text-gray-300 text-center p-5 font-normal">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod
                tempos Lorem ipsum dolor sitamet,
                consectetur adipiscing elit, sed do eiusmod tempor</p>
        </div>
        <div class="pb-8 flex justify-center">
            <a role="button" href="#" class="siz-10 bg-[#49BBBD] py-4 px-5 rounded-2xl font-bold text-shadow-2xs">Start learning
                now</a>
        </div>
    </div>

    <div aria-label="The course in personal development" role="The course in personal development container ">
        <div class="max-w-7xl mx-auto py-12">
            <!-- Section Heading -->
            <div class="flex justify-between items-center">
                <p class="mb-6 text-3xl font-bold text-gray-800">The course in personal development</p>
                <a role="button" class="text-[#49BBBD] text-[20px]" href="#">See All</a>
            </div>
            <!-- card-grid -->
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 items-stretch">
                <!-- card -->
                <div class="bg-white p-4 rounded-2xl">
                    <!-- card image -->
                    <div class="overflow-hidden rounded-2xl pb-2">
                        <img class="w-full h-full" src="stud-1.jpg" alt="course-img">
                    </div>
                    <!-- card body -->
                    <div class="">
                        <div class="flex justify-between px-2">
                            <div class="inline-flex gap-1 ">
                                <div class="">
                                    <svg width="20" height="20" viewBox="0 0 21 21" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g id="9615b0c0">
                                            <rect id="b7eddd3e" x="0.5" y="0.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="8c543800" x="0.5" y="11.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="46d20585" x="11.5" y="11.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="37db3719" x="11.5" y="0.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                        </g>
                                    </svg>
                                </div>
                                <p class="font-semibold tracking-tight text-gray-500 text-sm ">Design</p>
                            </div>
                            <div class="inline-flex items-center gap-1 ">
                                <div>
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path id="1151ade9"
                                            d="M11.625 0C18.0469 0 23.25 5.20312 23.25 11.625C23.25 18.0469 18.0469 23.25 11.625 23.25C5.20312 23.25 0 18.0469 0 11.625C0 5.20312 5.20312 0 11.625 0ZM11.625 21C16.7812 21 21 16.8281 21 11.625C21 6.46875 16.7812 2.25 11.625 2.25C6.42188 2.25 2.25 6.46875 2.25 11.625C2.25 16.8281 6.42188 21 11.625 21ZM14.4844 16.125L10.5 13.2188C10.3594 13.125 10.3125 12.9375 10.3125 12.7969V5.0625C10.3125 4.78125 10.5469 4.5 10.875 4.5H12.375C12.6562 4.5 12.9375 4.78125 12.9375 5.0625V11.7188L16.0312 14.0156C16.3125 14.2031 16.3594 14.5312 16.1719 14.8125L15.2812 15.9844C15.0938 16.2656 14.7656 16.3125 14.4844 16.125Z"
                                            fill="#D9D9D9"></path>
                                    </svg>
                                </div>
                                <p class="font-semibold tracking-tight text-gray-500 text-sm ">3 Month</p>
                            </div>
                        </div>
                        <p class=" text-md  sm:text-xl md:text-2xl font-semibold text-gray-700 pt-2 tracking-tight">AWS
                            Certified solutions Architect</p>
                        <p class="text-sm  sm:text-md md:text-xl font-normal text-gray-500 py-2 tracking-tight">Lorem
                            ipsum
                            dolor sit amet, consectetur adipising elit, sed do eiusmod tempor</p>
                    </div>

                    <!-- card footer -->
                    <div class="flex justify-between pt-2 ">
                        <div class="flex items-center gap-2">
                            <div class="size-5 overflow-hidden rounded-full">
                                <img class="w-full h-full" src="stud-1.jpg" alt="user-img">
                            </div>
                            <p class="text-md tracking-tight font-semibold">Ravi Gahire</p>
                        </div>
                        <div class="inline-flex gap-2 items-center"><span
                                class="text-md line-through font-bold text-gray-400">$100</span><span
                                class="text-xl text-[#49BBBD] font-extrabold">$80</span></div>
                    </div>
                </div>
                <!-- card -->
                <div class="bg-white p-4 rounded-2xl">
                    <!-- card image -->
                    <div class="overflow-hidden rounded-2xl pb-2">
                        <img class="w-full h-full" src="stud-1.jpg" alt="course-img">
                    </div>
                    <!-- card body -->
                    <div class="">
                        <div class="flex justify-between px-2">
                            <div class="inline-flex gap-1 ">
                                <div class="">
                                    <svg width="20" height="20" viewBox="0 0 21 21" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g id="9615b0c0">
                                            <rect id="b7eddd3e" x="0.5" y="0.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="8c543800" x="0.5" y="11.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="46d20585" x="11.5" y="11.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="37db3719" x="11.5" y="0.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                        </g>
                                    </svg>
                                </div>
                                <p class="font-semibold tracking-tight text-gray-500 text-sm ">Design</p>

                            </div>
                            <div class="inline-flex items-center gap-1 ">
                                <div>
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path id="1151ade9"
                                            d="M11.625 0C18.0469 0 23.25 5.20312 23.25 11.625C23.25 18.0469 18.0469 23.25 11.625 23.25C5.20312 23.25 0 18.0469 0 11.625C0 5.20312 5.20312 0 11.625 0ZM11.625 21C16.7812 21 21 16.8281 21 11.625C21 6.46875 16.7812 2.25 11.625 2.25C6.42188 2.25 2.25 6.46875 2.25 11.625C2.25 16.8281 6.42188 21 11.625 21ZM14.4844 16.125L10.5 13.2188C10.3594 13.125 10.3125 12.9375 10.3125 12.7969V5.0625C10.3125 4.78125 10.5469 4.5 10.875 4.5H12.375C12.6562 4.5 12.9375 4.78125 12.9375 5.0625V11.7188L16.0312 14.0156C16.3125 14.2031 16.3594 14.5312 16.1719 14.8125L15.2812 15.9844C15.0938 16.2656 14.7656 16.3125 14.4844 16.125Z"
                                            fill="#D9D9D9"></path>
                                    </svg>
                                </div>
                                <p class="font-semibold tracking-tight text-gray-500 text-sm ">3 Month</p>
                            </div>
                        </div>
                        <p class=" text-md  sm:text-xl md:text-2xl font-semibold text-gray-700 pt-2 tracking-tight">AWS
                            Certified solutions Architect</p>
                        <p class="text-sm  sm:text-md md:text-xl font-normal text-gray-500 py-2 tracking-tight">Lorem
                            ipsum
                            dolor sit amet, consectetur adipising elit, sed do eiusmod tempor</p>
                    </div>

                    <!-- card footer -->
                    <div class="flex justify-between pt-2 ">
                        <div class="flex items-center gap-2">
                            <div class="size-5 overflow-hidden rounded-full">
                                <img class="w-full h-full" src="stud-1.jpg" alt="user-img">
                            </div>
                            <p class="text-md tracking-tight font-semibold">Ravi Gahire</p>
                        </div>
                        <div class="inline-flex gap-2 items-center"><span
                                class="text-md line-through font-bold text-gray-400">$100</span><span
                                class="text-xl text-[#49BBBD] font-extrabold">$80</span></div>
                    </div>
                </div>

                <!-- card -->
                <div class="bg-white p-4 rounded-2xl">
                    <!-- card image -->
                    <div class="overflow-hidden rounded-2xl pb-2">
                        <img class="w-full h-full" src="stud-1.jpg" alt="course-img">
                    </div>
                    <!-- card body -->
                    <div class="">
                        <div class="flex justify-between px-2">
                            <div class="inline-flex gap-1 ">
                                <div class="">
                                    <svg width="20" height="20" viewBox="0 0 21 21" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g id="9615b0c0">
                                            <rect id="b7eddd3e" x="0.5" y="0.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="8c543800" x="0.5" y="11.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="46d20585" x="11.5" y="11.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="37db3719" x="11.5" y="0.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                        </g>
                                    </svg>
                                </div>
                                <p class="font-semibold tracking-tight text-gray-500 text-sm ">Design</p>

                            </div>
                            <div class="inline-flex items-center gap-1 ">
                                <div>
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path id="1151ade9"
                                            d="M11.625 0C18.0469 0 23.25 5.20312 23.25 11.625C23.25 18.0469 18.0469 23.25 11.625 23.25C5.20312 23.25 0 18.0469 0 11.625C0 5.20312 5.20312 0 11.625 0ZM11.625 21C16.7812 21 21 16.8281 21 11.625C21 6.46875 16.7812 2.25 11.625 2.25C6.42188 2.25 2.25 6.46875 2.25 11.625C2.25 16.8281 6.42188 21 11.625 21ZM14.4844 16.125L10.5 13.2188C10.3594 13.125 10.3125 12.9375 10.3125 12.7969V5.0625C10.3125 4.78125 10.5469 4.5 10.875 4.5H12.375C12.6562 4.5 12.9375 4.78125 12.9375 5.0625V11.7188L16.0312 14.0156C16.3125 14.2031 16.3594 14.5312 16.1719 14.8125L15.2812 15.9844C15.0938 16.2656 14.7656 16.3125 14.4844 16.125Z"
                                            fill="#D9D9D9"></path>
                                    </svg>
                                </div>
                                <p class="font-semibold tracking-tight text-gray-500 text-sm ">3 Month</p>
                            </div>
                        </div>
                        <p class=" text-md  sm:text-xl md:text-2xl font-semibold text-gray-700 pt-2 tracking-tight">AWS
                            Certified solutions Architect</p>
                        <p class="text-sm  sm:text-md md:text-xl font-normal text-gray-500 py-2 tracking-tight">Lorem
                            ipsum
                            dolor sit amet, consectetur adipising elit, sed do eiusmod tempor</p>
                    </div>

                    <!-- card footer -->
                    <div class="flex justify-between pt-2 ">
                        <div class="flex items-center gap-2">
                            <div class="size-5 overflow-hidden rounded-full">
                                <img class="w-full h-full" src="stud-1.jpg" alt="user-img">
                            </div>
                            <p class="text-md tracking-tight font-semibold">Ravi Gahire</p>
                        </div>
                        <div class="inline-flex gap-2 items-center"><span
                                class="text-md line-through font-bold text-gray-400">$100</span><span
                                class="text-xl text-[#49BBBD] font-extrabold">$80</span></div>
                    </div>
                </div>
                <!-- card -->
                <div class="bg-white p-4 rounded-2xl">
                    <!-- card image -->
                    <div class="overflow-hidden rounded-2xl pb-2">
                        <img class="w-full h-full" src="stud-1.jpg" alt="course-img">
                    </div>
                    <!-- card body -->
                    <div class="">
                        <div class="flex justify-between px-2">
                            <div class="inline-flex gap-1 ">
                                <div class="">
                                    <svg width="20" height="20" viewBox="0 0 21 21" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g id="9615b0c0">
                                            <rect id="b7eddd3e" x="0.5" y="0.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="8c543800" x="0.5" y="11.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="46d20585" x="11.5" y="11.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                            <rect id="37db3719" x="11.5" y="0.5" width="9" height="9" rx="1.5"
                                                stroke="#D9D9D9">
                                            </rect>
                                        </g>
                                    </svg>
                                </div>
                                <p class="font-semibold tracking-tight text-gray-500 text-sm ">Design</p>
                            </div>
                            <div class="inline-flex items-center gap-1 ">
                                <div>
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path id="1151ade9"
                                            d="M11.625 0C18.0469 0 23.25 5.20312 23.25 11.625C23.25 18.0469 18.0469 23.25 11.625 23.25C5.20312 23.25 0 18.0469 0 11.625C0 5.20312 5.20312 0 11.625 0ZM11.625 21C16.7812 21 21 16.8281 21 11.625C21 6.46875 16.7812 2.25 11.625 2.25C6.42188 2.25 2.25 6.46875 2.25 11.625C2.25 16.8281 6.42188 21 11.625 21ZM14.4844 16.125L10.5 13.2188C10.3594 13.125 10.3125 12.9375 10.3125 12.7969V5.0625C10.3125 4.78125 10.5469 4.5 10.875 4.5H12.375C12.6562 4.5 12.9375 4.78125 12.9375 5.0625V11.7188L16.0312 14.0156C16.3125 14.2031 16.3594 14.5312 16.1719 14.8125L15.2812 15.9844C15.0938 16.2656 14.7656 16.3125 14.4844 16.125Z"
                                            fill="#D9D9D9"></path>
                                    </svg>
                                </div>
                                <p class="font-semibold tracking-tight text-gray-500 text-sm ">3 Month</p>
                            </div>
                        </div>
                        <p class=" text-md  sm:text-xl md:text-2xl font-semibold text-gray-700 pt-2 tracking-tight">AWS
                            Certified solutions Architect</p>
                        <p class="text-sm  sm:text-md md:text-xl font-normal text-gray-500 py-2 tracking-tight">Lorem
                            ipsum
                            dolor sit amet, consectetur adipising elit, sed do eiusmod tempor</p>
                    </div>

                    <!-- card footer -->
                    <div class="flex justify-between pt-2 ">
                        <div class="flex items-center gap-2">
                            <div class="size-5 overflow-hidden rounded-full">
                                <img class="w-full h-full" src="stud-1.jpg" alt="user-img">
                            </div>
                            <p class="text-md tracking-tight font-semibold">Ravi Gahire</p>
                        </div>
                        <div class="inline-flex gap-2 items-center"><span
                                class="text-md line-through font-bold text-gray-400">$100</span><span
                                class="text-xl text-[#49BBBD] font-extrabold">$80</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>