<section aria-label="category" class="my-4 bg-white">
    <div class="max-w-7xl py-10 mx-auto">
        <p class="mb-6 text-3xl font-bold text-gray-800">Choice favourite course from top category</p>

        <div class=" mx-auto">
            <div class="grid  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4   gap-10">
                <!-- Design card -->
                <div
                    class="flex flex-col items-center space-y-2 p-5 bg-white shadow-xl rounded-xl border border-gray-300/90">
                    <div class="h-[50px] w-[50px] flex items-center justify-center rounded-md bg-gray-600 p-2">
                        <svg width="20" height="20" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="aed978aa"
                                d="M9.84375 18.1641L15 22.4414C15 22.6172 15.0586 22.793 15.0586 22.9688C15.0586 27.4805 11.9531 30 7.55859 30C2.22656 30 0.0585938 25.7812 0 20.9766C0.585938 21.3281 2.63672 22.9688 3.28125 22.9688C3.63281 22.9688 3.98438 22.7344 4.10156 22.3828C5.33203 19.2188 7.44141 18.2812 9.84375 18.1641ZM26.8359 0C28.5352 0 30.0586 1.23047 30.0586 2.92969C30.0586 3.86719 29.6484 4.80469 29.2383 5.625C22.6172 17.9883 20.5078 20.625 16.8164 20.625C16.4062 20.625 15.9375 20.5664 15.5273 20.4492L11.7773 17.3438C11.4844 16.6406 11.3086 15.8789 11.3086 15.1172C11.3086 11.9531 12.5391 11.7188 24.4922 0.996094C25.1367 0.410156 25.957 0 26.8359 0Z"
                                fill="#49BBBD"></path>
                        </svg>
                    </div>
                    <p class="text-xl font-bold">Design</p>
                    <p class="text-center text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                        quam quisquam ullam libero illum nesciunt explicabo temporibus? Enim, magnam similique?</p>
                </div>
                <!-- Development card -->
                <div class="flex flex-col items-center space-y-2 p-5 bg-white shadow-xl rounded-xl">
                    <div class="h-[50px] w-[50px] flex items-center justify-center rounded-md bg-gray-600 p-2">
                        <svg width="34" height="30" viewBox="0 0 34 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="268df54a"
                                d="M30.9375 0C32.4609 0 33.75 1.28906 33.75 2.8125V21.5625C33.75 23.1445 32.4609 24.375 30.9375 24.375H19.6875L20.625 27.1875H24.8438C25.6055 27.1875 26.25 27.832 26.25 28.5938C26.25 29.4141 25.6055 30 24.8438 30H8.90625C8.08594 30 7.5 29.4141 7.5 28.5938C7.5 27.832 8.08594 27.1875 8.90625 27.1875H13.125L14.0625 24.375H2.8125C1.23047 24.375 0 23.1445 0 21.5625V2.8125C0 1.28906 1.23047 0 2.8125 0H30.9375ZM30 20.625V3.75H3.75V20.625H30Z"
                                fill="#5B72EE"></path>
                        </svg>
                    </div>
                    <p class="text-xl font-bold">Development</p>
                    <p class="text-center text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                        quam quisquam ullam libero illum nesciunt explicabo temporibus? Enim, magnam similique?</p>
                </div>
                <!--  Personal Development -2 -->
                <div class="flex flex-col items-center space-y-2 p-5 bg-white shadow-xl rounded-xl">
                    <div class="h-[50px] w-[50px] flex items-center justify-center rounded-md bg-gray-600 p-2">
                        <svg width="27" height="30" viewBox="0 0 27 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="17f8e5c7"
                                d="M26.25 4.33594V6.97266C26.25 9.375 20.332 11.25 13.125 11.25C5.85938 11.25 0 9.375 0 6.97266V4.33594C0 1.93359 5.85938 0 13.125 0C20.332 0 26.25 1.93359 26.25 4.33594ZM26.25 10.3125V16.3477C26.25 18.75 20.332 20.625 13.125 20.625C5.85938 20.625 0 18.75 0 16.3477V10.3125C2.8125 12.3047 7.96875 13.1836 13.125 13.1836C18.2227 13.1836 23.3789 12.3047 26.25 10.3125ZM26.25 19.6875V25.7227C26.25 28.125 20.332 30 13.125 30C5.85938 30 0 28.125 0 25.7227V19.6875C2.8125 21.6797 7.96875 22.5586 13.125 22.5586C18.2227 22.5586 23.3789 21.6797 26.25 19.6875Z"
                                fill="#9DCCFF"></path>
                        </svg>
                    </div>
                    <p class="text-xl font-bold">Personal Development</p>
                    <p class="text-center text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                        quam quisquam ullam libero illum nesciunt explicabo temporibus? Enim, magnam similique?</p>
                </div>
                <!-- Bussiness Card -->
                <div class="flex flex-col items-center space-y-2 p-5 bg-white shadow-xl rounded-xl">
                    <div class="h-[50px] w-[50px] flex items-center justify-center rounded-md bg-gray-600 p-2">
                        <svg width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="f10cb594"
                                d="M18.75 17.8125V15H30V23.4375C30 24.9609 28.6523 26.25 27.1875 26.25H2.8125C1.28906 26.25 0 24.9609 0 23.4375V15H11.25V17.8125C11.25 18.3398 11.6602 18.75 12.1875 18.75H17.8125C18.2812 18.75 18.75 18.3398 18.75 17.8125ZM27.1875 5.625C28.6523 5.625 30 6.97266 30 8.4375V13.125H0V8.4375C0 6.97266 1.28906 5.625 2.8125 5.625H7.5V2.8125C7.5 1.34766 8.78906 0 10.3125 0H19.6875C21.1523 0 22.5 1.34766 22.5 2.8125V5.625H27.1875ZM18.75 5.625V3.75H11.25V5.625H18.75Z"
                                fill="#00CBB8"></path>
                        </svg>
                    </div>
                    <p class="text-xl font-bold">Bussiness</p>
                    <p class="text-center text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                        quam quisquam ullam libero illum nesciunt explicabo temporibus? Enim, magnam similique?</p>
                </div>
                <!-- Marketing card -->
                <div class="flex flex-col items-center space-y-2 p-5 bg-white shadow-xl rounded-xl">
                    <div class="h-[50px] w-[50px] flex items-center justify-center rounded-md bg-gray-600 p-2">
                        <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="a962b2dd"
                                d="M11.0156 9.02344C13.0078 9.02344 14.6484 10.5469 14.6484 12.4219C14.6484 14.2969 13.0078 15.8203 11.0156 15.8203C9.02344 15.8203 7.44141 14.2969 7.44141 12.4219C7.44141 10.5469 9.02344 9.02344 11.0156 9.02344ZM19.4531 9.02344C21.4453 9.02344 23.0273 10.5469 23.0273 12.4219C23.0273 14.2969 21.4453 15.8203 19.4531 15.8203C17.4609 15.8203 15.8203 14.2969 15.8203 12.4219C15.8203 10.5469 17.4609 9.02344 19.4531 9.02344ZM28.5938 14.2969C29.4727 13.7109 30.0586 14.5312 29.5312 15.3516C28.4766 16.6992 26.4258 18.2812 23.3203 19.5703C26.6016 30.8203 15.293 32.5781 15.4688 26.8359C15.4688 26.7773 15.4102 23.6719 15.4102 21.3281C15.1758 21.3281 14.9414 21.2109 14.6484 21.1523C14.6484 23.4961 14.5898 26.7773 14.5898 26.8359C14.8242 32.5781 3.45703 30.8203 6.73828 19.5703C3.63281 18.2812 1.58203 16.6406 0.527344 15.3516C0 14.5312 0.585938 13.7109 1.46484 14.2969C1.58203 14.4141 1.69922 14.4727 1.81641 14.5312V2.92969C1.81641 1.34766 3.04688 0 4.51172 0H25.5469C27.0703 0 28.2422 1.34766 28.2422 2.92969V14.5312L28.5938 14.2969ZM26.8359 15.4102V4.27734C26.8359 2.34375 26.1914 1.58203 24.4336 1.58203H5.80078C3.98438 1.58203 3.45703 2.22656 3.45703 4.27734V15.5273C7.38281 17.6367 10.7812 17.2266 12.6562 17.168C13.418 17.168 13.9453 17.2852 14.2383 17.6367C14.3555 17.6953 14.8242 18.1641 15.4102 18.6328C15.5273 17.6953 15.9961 17.1094 17.4023 17.168C19.2773 17.2266 22.793 17.6367 26.8359 15.4102Z"
                                fill="#F48C06"></path>
                        </svg>
                    </div>
                    <p class="text-xl font-bold">Marketing</p>
                    <p class="text-center text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                        quam quisquam ullam libero illum nesciunt explicabo temporibus? Enim, magnam similique?</p>
                </div>
                <!-- Photography card -->
                <div class="flex flex-col items-center space-y-2 p-5 bg-white shadow-xl rounded-xl">
                    <div class="h-[50px] w-[50px] flex items-center justify-center rounded-md bg-gray-600 p-2">
                        <svg width="27" height="30" viewBox="0 0 27 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="cbdc5411"
                                d="M26.25 21.0938C26.25 21.5625 26.0156 21.9727 25.7227 22.207C25.4297 23.0859 25.4297 25.6641 25.7227 26.6016C26.0156 26.8359 26.25 27.2461 26.25 27.6562V28.5938C26.25 29.4141 25.6055 30 24.8438 30H5.625C2.51953 30 0 27.4805 0 24.375V5.625C0 2.51953 2.51953 0 5.625 0H24.8438C25.6055 0 26.25 0.644531 26.25 1.40625V21.0938ZM7.5 7.85156V9.02344C7.5 9.25781 7.61719 9.375 7.85156 9.375H20.2734C20.4492 9.375 20.625 9.25781 20.625 9.02344V7.85156C20.625 7.67578 20.4492 7.5 20.2734 7.5H7.85156C7.61719 7.5 7.5 7.67578 7.5 7.85156ZM7.5 11.6016V12.7734C7.5 13.0078 7.61719 13.125 7.85156 13.125H20.2734C20.4492 13.125 20.625 13.0078 20.625 12.7734V11.6016C20.625 11.4258 20.4492 11.25 20.2734 11.25H7.85156C7.61719 11.25 7.5 11.4258 7.5 11.6016ZM22.3242 26.25C22.207 25.2539 22.207 23.5547 22.3242 22.5H5.625C4.57031 22.5 3.75 23.3789 3.75 24.375C3.75 25.4297 4.57031 26.25 5.625 26.25H22.3242Z"
                                fill="#EE645B"></path>
                        </svg>
                    </div>
                    <p class="text-xl font-bold">Photography</p>
                    <p class="text-center text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                        quam quisquam ullam libero illum nesciunt explicabo temporibus? Enim, magnam similique?</p>
                </div>
                <!-- Acting card -->
                <div class="flex flex-col items-center space-y-2 p-5 bg-white shadow-xl rounded-xl">
                    <div class="h-[50px] w-[50px] flex items-center justify-center rounded-md bg-gray-600 p-2">
                        <svg width="30" height="23" viewBox="0 0 30 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="6ef136bf"
                                d="M28.5938 0C29.3555 0 30 0.644531 30 1.40625V21.0938C30 21.9141 29.3555 22.5 28.5938 22.5H28.125V21.3281C28.125 20.9766 27.7734 20.625 27.4219 20.625H25.0781C24.668 20.625 24.375 20.9766 24.375 21.3281V22.5H5.625V21.3281C5.625 20.9766 5.27344 20.625 4.92188 20.625H2.57812C2.16797 20.625 1.875 20.9766 1.875 21.3281V22.5H1.40625C0.585938 22.5 0 21.9141 0 21.0938V1.40625C0 0.644531 0.585938 0 1.40625 0H1.875V1.17188C1.875 1.58203 2.16797 1.875 2.57812 1.875H4.92188C5.27344 1.875 5.625 1.58203 5.625 1.17188V0H24.375V1.17188C24.375 1.58203 24.668 1.875 25.0781 1.875H27.4219C27.7734 1.875 28.125 1.58203 28.125 1.17188V0H28.5938ZM5.625 18.0469V15.7031C5.625 15.3516 5.27344 15 4.92188 15H2.57812C2.16797 15 1.875 15.3516 1.875 15.7031V18.0469C1.875 18.457 2.16797 18.75 2.57812 18.75H4.92188C5.27344 18.75 5.625 18.457 5.625 18.0469ZM5.625 12.4219V10.0781C5.625 9.72656 5.27344 9.375 4.92188 9.375H2.57812C2.16797 9.375 1.875 9.72656 1.875 10.0781V12.4219C1.875 12.832 2.16797 13.125 2.57812 13.125H4.92188C5.27344 13.125 5.625 12.832 5.625 12.4219ZM5.625 6.79688V4.45312C5.625 4.10156 5.27344 3.75 4.92188 3.75H2.57812C2.16797 3.75 1.875 4.10156 1.875 4.45312V6.79688C1.875 7.20703 2.16797 7.5 2.57812 7.5H4.92188C5.27344 7.5 5.625 7.20703 5.625 6.79688ZM21.5625 18.9844V13.3594C21.5625 13.0078 21.2109 12.6562 20.8594 12.6562H9.14062C8.73047 12.6562 8.4375 13.0078 8.4375 13.3594V18.9844C8.4375 19.3945 8.73047 19.6875 9.14062 19.6875H20.8594C21.2109 19.6875 21.5625 19.3945 21.5625 18.9844ZM21.5625 9.14062V3.51562C21.5625 3.16406 21.2109 2.8125 20.8594 2.8125H9.14062C8.73047 2.8125 8.4375 3.16406 8.4375 3.51562V9.14062C8.4375 9.55078 8.73047 9.84375 9.14062 9.84375H20.8594C21.2109 9.84375 21.5625 9.55078 21.5625 9.14062ZM28.125 18.0469V15.7031C28.125 15.3516 27.7734 15 27.4219 15H25.0781C24.668 15 24.375 15.3516 24.375 15.7031V18.0469C24.375 18.457 24.668 18.75 25.0781 18.75H27.4219C27.7734 18.75 28.125 18.457 28.125 18.0469ZM28.125 12.4219V10.0781C28.125 9.72656 27.7734 9.375 27.4219 9.375H25.0781C24.668 9.375 24.375 9.72656 24.375 10.0781V12.4219C24.375 12.832 24.668 13.125 25.0781 13.125H27.4219C27.7734 13.125 28.125 12.832 28.125 12.4219ZM28.125 6.79688V4.45312C28.125 4.10156 27.7734 3.75 27.4219 3.75H25.0781C24.668 3.75 24.375 4.10156 24.375 4.45312V6.79688C24.375 7.20703 24.668 7.5 25.0781 7.5H27.4219C27.7734 7.5 28.125 7.20703 28.125 6.79688Z"
                                fill="#252641"></path>
                        </svg>
                    </div>
                    <p class="text-xl font-bold">Acting</p>
                    <p class="text-center text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                        quam quisquam ullam libero illum nesciunt explicabo temporibus? Enim, magnam similique?</p>
                </div>
                <!-- Soft Skills card -->
                <div class="flex flex-col items-center space-y-2 p-5 bg-white shadow-xl rounded-xl">
                    <div class="h-[50px] w-[50px] flex items-center justify-center rounded-md bg-gray-600 p-2">
                        <svg width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="5b919e30"
                                d="M18.75 17.8125V15H30V23.4375C30 24.9609 28.6523 26.25 27.1875 26.25H2.8125C1.28906 26.25 0 24.9609 0 23.4375V15H11.25V17.8125C11.25 18.3398 11.6602 18.75 12.1875 18.75H17.8125C18.2812 18.75 18.75 18.3398 18.75 17.8125ZM27.1875 5.625C28.6523 5.625 30 6.97266 30 8.4375V13.125H0V8.4375C0 6.97266 1.28906 5.625 2.8125 5.625H7.5V2.8125C7.5 1.34766 8.78906 0 10.3125 0H19.6875C21.1523 0 22.5 1.34766 22.5 2.8125V5.625H27.1875ZM18.75 5.625V3.75H11.25V5.625H18.75Z"
                                fill="#00CBB8"></path>
                        </svg>
                    </div>
                    <p class="text-xl font-bold">Soft Skills</p>
                    <p class="text-center text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                        quam quisquam ullam libero illum nesciunt explicabo temporibus? Enim, magnam similique?</p>
                </div>


                <!-- repeat cards -->
            </div>
        </div>


    </div>
</section>