<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MemberShip</title>
</head>

<body>
    <%-include('.. /partials/header.ejs')%>

        <section aria-label="pricing-section">
            <div class="max-w-7xl mx-auto bg-100">
                <div class="text-center">
                    <h2 class="font-extrabold text-6xl">Affordable pricing</h2>
                </div>
                <div class="grid grid-cols-3 gap-5">
                    <div class="">
                        <p>Like trails</p>
                        <div class="">
                            <p>Free</p>
                            <span>/</span>
                            <p>forever</p>
                        </div>
                        <div class="inline-flex">
                            <div class="size-2.5 bg-gray-100">
                                <svg width="11" height="9" viewBox="0 0 11 9" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path id="21c8a333" d="M9.96 1L3.8 7.16L1 4.36" stroke="#2D3436" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <p>Components-driven system</p>
                        </div>

                    </div>
                    <div class="">
                        <button>try for free</button>
                    </div>
                  
                </div>

            </div>



        </section>
<section aria-label="pricing-section">
  <div class="bg-100 mx-auto max-w-7xl">
    <div class="text-center">
      <h2 class="text-6xl font-extrabold text-cyan-500">Affordable pricing</h2>
    </div>
    <div class="grid grid-cols-3 gap-5">
      <!-- card-1 -->
      <div class="mt-8 shadow-2xl">
        <p class="rounded-full border border-gray-300 bg-amber-200 px-2 py-2 text-center text-sm font-medium tracking-tight text-shadow-2xs">Free trails</p>
        <div class="flex items-baseline-last justify-baseline gap-1">
          <p class="text-3xl font-bold">Free</p>
          <span>/</span>
          <p class="text-gray-500">forever</p>
        </div>
        <div class="flex flex-col justify-start">
          <div>
            <div class="flex items-center justify-center gap-3 pt-4">
              <div class="flex size-7 items-center justify-center gap-4 rounded-full bg-gray-300">
                <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="21c8a333" d="M9.96 1L3.8 7.16L1 4.36" stroke="#2D3436" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <p class="text-gray-600">Components-driven system</p>
            </div>
            <div class="flex items-center justify-center gap-3 py-4">
              <div class="flex size-7 items-center justify-center gap-4 rounded-full bg-gray-300">
                <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="21c8a333" d="M9.96 1L3.8 7.16L1 4.36" stroke="#2D3436" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <p class="text-gray-600">Sales-boosting landing pages</p>
            </div>
            <div class="flex items-center justify-center gap-3">
              <div class="flex size-7 items-center justify-center gap-4 rounded-full bg-gray-300">
                <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="21c8a333" d="M9.96 1L3.8 7.16L1 4.36" stroke="#2D3436" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <p class="text-gray-600">Awesome Feather icons pack</p>
            </div>
          </div>
          <div class="py-5">
            <button class="px-8 py-2 font-medium w-full  bg-amber-100 rounded-md ">Try for free</button>
          </div>
        </div>
      </div>
      <!-- card-2 -->
      <div class="mt-8 shadow-2xl">
        <p class="rounded-full border border-gray-300 bg-amber-200 px-2 py-2 text-center text-sm font-medium tracking-tight text-shadow-2xs">Free trails</p>
        <div class="flex items-baseline-last justify-baseline gap-1">
          <p class="text-3xl font-bold">Free</p>
          <span>/</span>
          <p class="text-gray-500">forever</p>
        </div>
        <div class="flex flex-col justify-between">
          <div>
            <div class="flex items-center justify-center gap-3 pt-4">
              <div class="flex size-7 items-center justify-center gap-4 rounded-full bg-gray-300">
                <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="21c8a333" d="M9.96 1L3.8 7.16L1 4.36" stroke="#2D3436" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <p class="text-gray-600">Components-driven system</p>
            </div>
            <div class="flex items-center justify-center gap-3 py-4">
              <div class="flex size-7 items-center justify-center gap-4 rounded-full bg-gray-300">
                <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="21c8a333" d="M9.96 1L3.8 7.16L1 4.36" stroke="#2D3436" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <p class="text-gray-600">Sales-boosting landing pages</p>
            </div>
            <div class="flex items-center justify-center gap-3">
              <div class="flex size-7 items-center justify-center gap-4 rounded-full bg-gray-300">
                <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="21c8a333" d="M9.96 1L3.8 7.16L1 4.36" stroke="#2D3436" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <p class="text-gray-600">Awesome Feather icons pack</p>
            </div>
          </div>
          <div class="py-5">
            <button class="px-8 py-2 font-medium w-full  bg-amber-100 rounded-md ">Try for free</button>
          </div>
        </div>
      </div>
      <!-- card-3 -->
       <div class="mt-8 shadow-2xl">
        <p class="rounded-full border border-gray-300 bg-amber-200 px-2 py-2 text-center text-sm font-medium tracking-tight text-shadow-2xs">Free trails</p>
        <div class="flex items-baseline-last justify-baseline gap-1">
          <p class="text-3xl font-bold">Free</p>
          <span>/</span>
          <p class="text-gray-500">forever</p>
        </div>
        <div class="flex flex-col justify-between">
          <div>
            <div class="flex items-center justify-center gap-3 pt-4">
              <div class="flex size-7 items-center justify-center gap-4 rounded-full bg-gray-300">
                <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="21c8a333" d="M9.96 1L3.8 7.16L1 4.36" stroke="#2D3436" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <p class="text-gray-600">Components-driven system</p>
            </div>
            <div class="flex items-center justify-center gap-3 py-4">
              <div class="flex size-7 items-center justify-center gap-4 rounded-full bg-gray-300">
                <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="21c8a333" d="M9.96 1L3.8 7.16L1 4.36" stroke="#2D3436" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <p class="text-gray-600">Sales-boosting landing pages</p>
            </div>
            <div class="flex items-center justify-center gap-3">
              <div class="flex size-7 items-center justify-center gap-4 rounded-full bg-gray-300">
                <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="21c8a333" d="M9.96 1L3.8 7.16L1 4.36" stroke="#2D3436" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <p class="text-gray-600">Awesome Feather icons pack</p>
            </div>
          </div>
          <div class="py-5">
            <button class="px-8 py-2 font-medium w-full  bg-amber-100 rounded-md ">Try for free</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>

</html>