<section aria-label="blog-list" class="bg-gray-100">
  <div class="max-w-7xl mx-auto py-12">
    <div class="pb-5">
      <p class="text-3xl font-bold">Reading blog list</p>
    </div>
    <div class="grid grid-cols-4 gap-5">
      <div class="w-full rounded-2xl">
        <a href="/blogdetails" class="relative text-center h-full flex items-center justify-center rounded-2xl overflow-hidden">
          <img class="w-full h-full transform transition duration-500 ease-in-out hover:scale-110 hover:-translate-y-1"
            src="https://img.freepik.com/free-photo/closeup-shot-beautiful-butterfly-with-interesting-textures-orange-petaled-flower_181624-7640.jpg?semt=ais_se_enriched&w=740&q=80"
            alt="blog-img">
          <span
            class="absolute bottom-10 px-10 py-2 text-black font-bold rounded-2xl bg-white/80 hover:bg-black/80 hover:text-white text-center-gray-700/40 hover-cyan-50/40 transition">
            Node Js
          </span>

        </a>
      </div>
      <div class="w-full rounded-2xl">
        <a href="#" class="relative text-center h-full flex items-center justify-center rounded-2xl overflow-hidden">
          <img class="w-full h-full transform transition duration-500 ease-in-out hover:scale-110 hover:-translate-y-1"
            src="https://img.freepik.com/free-photo/closeup-shot-beautiful-butterfly-with-interesting-textures-orange-petaled-flower_181624-7640.jpg?semt=ais_se_enriched&w=740&q=80"
            alt="blog-img">
          <span
            class="absolute bottom-10 px-10 py-2 text-black font-bold rounded-2xl bg-white/80 hover:bg-black/80 hover:text-white text-center-gray-700/40 hover-cyan-50/40 transition">
            Node Js
          </span>

        </a>
      </div>
      <div class="w-full rounded-2xl">
        <a href="#" class="relative text-center h-full flex items-center justify-center rounded-2xl overflow-hidden">
          <img class="w-full h-full transform transition duration-500 ease-in-out hover:scale-110 hover:-translate-y-1"
            src="https://img.freepik.com/free-photo/closeup-shot-beautiful-butterfly-with-interesting-textures-orange-petaled-flower_181624-7640.jpg?semt=ais_se_enriched&w=740&q=80"
            alt="blog-img">
          <span
            class="absolute bottom-10 px-10 py-2 text-black font-bold rounded-2xl bg-white/80 hover:bg-black/80 hover:text-white text-center-gray-700/40 hover-cyan-50/40 transition">
            Node Js
          </span>

        </a>
      </div>
      <div class="w-full rounded-2xl">
        <a title="blog-details" href="#" class="relative text-center h-full flex items-center justify-center rounded-2xl overflow-hidden">
          <img class="w-full h-full transform transition duration-500 ease-in-out hover:scale-110 hover:-translate-y-1"
            src="https://img.freepik.com/free-photo/closeup-shot-beautiful-butterfly-with-interesting-textures-orange-petaled-flower_181624-7640.jpg?semt=ais_se_enriched&w=740&q=80"
            alt="blog-img">
          <span
            class="absolute bottom-10 px-10 py-2 text-black font-bold rounded-2xl bg-white/80 hover:bg-black/80 hover:text-white text-center-gray-700/40 hover-cyan-50/40 transition">
            Node Js
          </span>
        </a>
      </div>
    </div>
    </div>
</section>

<section class="bg-[#9dccff6f]">
  <div class="max-w-7xl mx-auto">
    <!-- heading -->
    <div class="py-12 flex justify-between">
      <p class="text-3xl font-bold">Related Blog </p> <a href="#" class="text-gray-700 underline">See all</a>
    </div>
    <div class="flex gap-10 overflow-x-hidden snap-x snap-mandatory scroll-smooth pb-5">
      <!-- card-1 -->
      <div class="w-[48%] shadow-md shrink-0 flex-col items-center py-8 px-4 bg-white rounded-2xl  
              min-w-[320px] snap-start">
        <div class="rounded-2xl overflow-hidden">
          <img class="w-full h-full"
            src="https://www.adorama.com/alc/wp-content/uploads/2020/10/abstract-photography-design-feature-825x465.jpg"
            alt="photography" />
        </div>

        <div class="mt-4">
          <p class="text-2xl font-medium">
            Class adds $30 million to its balance sheet for a Zoom-friendly edtech solution
          </p>

          <div class="mt-4">
            <div class="flex items-center gap-5">
              <div class="size-8 rounded-full overflow-hidden">
                <img class="w-full h-full"
                  src="https://www.adorama.com/alc/wp-content/uploads/2020/10/abstract-photography-design-feature-825x465.jpg" />
              </div>
              <p>Ravi</p>
            </div>

            <p class="mt-4">
              Class, launched less than a year ago by Blackboard co-founder Michael Chasen, integrates exclusively...
            </p>

            <div class="flex justify-between mt-5 items-center">
              <a href="#" class="underline">Read more</a>
              <div class="flex items-center gap-3">
                <svg width="23" height="15" viewBox="0 0 23 15" fill="none">
                  <path
                    d="M22.3438 6.95312C22.4219 7.10938 22.4609 7.30469 22.4609 7.53906C22.4609 7.73438 22.4219 7.92969 22.3438 8.08594C20.2344 12.2266 16.0156 15 11.25 15C6.44531 15 2.22656 12.2266 0.117188 8.08594C0.0390625 7.92969 0 7.73438 0 7.5C0 7.30469 0.0390625 7.10938 0.117188 6.95312C2.22656 2.8125 6.44531 0 11.25 0C16.0156 0 20.2344 2.8125 22.3438 6.95312ZM11.25 13.125V13.1641C14.3359 13.1641 16.875 10.625 16.875 7.53906V7.5C16.875 4.41406 14.3359 1.875 11.25 1.875C8.125 1.875 5.625 4.41406 5.625 7.5C5.625 10.625 8.125 13.125 11.25 13.125ZM11.25 3.75V3.78906C13.3203 3.78906 15 5.42969 15 7.5C15 9.57031 13.3203 11.25 11.25 11.25C9.17969 11.25 7.5 9.57031 7.5 7.5C7.5 7.1875 7.53906 6.83594 7.61719 6.52344C7.92969 6.75781 8.32031 6.875 8.75 6.875C9.76562 6.875 10.5859 6.05469 10.5859 5.03906C10.5859 4.60938 10.4688 4.21875 10.2344 3.90625C10.5469 3.82812 10.8984 3.78906 11.25 3.75Z"
                    fill="#49BBBD"></path>
                </svg>
                <span>250,244</span>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- card-2 -->
      <div class="w-[48%] shadow-md shrink-0 flex flex-col items-center py-8 px-4 bg-white rounded-2xl  
              min-w-[320px] snap-start">
        <div class="rounded-2xl overflow-hidden">
          <img class="w-full h-full"
            src="https://www.adorama.com/alc/wp-content/uploads/2020/10/abstract-photography-design-feature-825x465.jpg"
            alt="photography" />
        </div>

        <div class="mt-4">
          <p class="text-2xl font-medium">
            Class adds $30 million to its balance sheet for a Zoom-friendly edtech solution
          </p>

          <div class="mt-4">
            <div class="flex items-center gap-5">
              <div class="size-8 rounded-full overflow-hidden">
                <img class="w-full h-full"
                  src="https://www.adorama.com/alc/wp-content/uploads/2020/10/abstract-photography-design-feature-825x465.jpg" />
              </div>
              <p>Ravi</p>
            </div>

            <p class="mt-4">
              Class, launched less than a year ago by Blackboard co-founder Michael Chasen, integrates exclusively...
            </p>

            <div class="flex justify-between mt-5 items-center">
              <a href="#" class="underline">Read more</a>
              <div class="flex items-center gap-3">
                <svg width="23" height="15" viewBox="0 0 23 15" fill="none">
                  <path
                    d="M22.3438 6.95312C22.4219 7.10938 22.4609 7.30469 22.4609 7.53906C22.4609 7.73438 22.4219 7.92969 22.3438 8.08594C20.2344 12.2266 16.0156 15 11.25 15C6.44531 15 2.22656 12.2266 0.117188 8.08594C0.0390625 7.92969 0 7.73438 0 7.5C0 7.30469 0.0390625 7.10938 0.117188 6.95312C2.22656 2.8125 6.44531 0 11.25 0C16.0156 0 20.2344 2.8125 22.3438 6.95312ZM11.25 13.125V13.1641C14.3359 13.1641 16.875 10.625 16.875 7.53906V7.5C16.875 4.41406 14.3359 1.875 11.25 1.875C8.125 1.875 5.625 4.41406 5.625 7.5C5.625 10.625 8.125 13.125 11.25 13.125ZM11.25 3.75V3.78906C13.3203 3.78906 15 5.42969 15 7.5C15 9.57031 13.3203 11.25 11.25 11.25C9.17969 11.25 7.5 9.57031 7.5 7.5C7.5 7.1875 7.53906 6.83594 7.61719 6.52344C7.92969 6.75781 8.32031 6.875 8.75 6.875C9.76562 6.875 10.5859 6.05469 10.5859 5.03906C10.5859 4.60938 10.4688 4.21875 10.2344 3.90625C10.5469 3.82812 10.8984 3.78906 11.25 3.75Z"
                    fill="#49BBBD"></path>
                </svg>
                <span>250,244</span>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- card-3 -->
      <div class="w-[48%] shadow-md shrink-0  flex flex-col items-center py-8 px-4 bg-white rounded-2xl  
              min-w-[320px] snap-start">
        <div class="rounded-2xl overflow-hidden">
          <img class="w-full h-full"
            src="https://www.adorama.com/alc/wp-content/uploads/2020/10/abstract-photography-design-feature-825x465.jpg"
            alt="photography" />
        </div>

        <div class="mt-4">
          <p class="text-2xl font-medium">
            Class adds $30 million to its balance sheet for a Zoom-friendly edtech solution
          </p>

          <div class="mt-4">
            <div class="flex items-center gap-5">
              <div class="size-8 rounded-full overflow-hidden">
                <img class="w-full h-full"
                  src="https://www.adorama.com/alc/wp-content/uploads/2020/10/abstract-photography-design-feature-825x465.jpg" />
              </div>
              <p>Ravi</p>
            </div>

            <p class="mt-4">
              Class, launched less than a year ago by Blackboard co-founder Michael Chasen, integrates exclusively...
            </p>

            <div class="flex justify-between mt-5 items-center">
              <a href="#" class="underline">Read more</a>
              <div class="flex items-center gap-3">
                <svg width="23" height="15" viewBox="0 0 23 15" fill="none">
                  <path
                    d="M22.3438 6.95312C22.4219 7.10938 22.4609 7.30469 22.4609 7.53906C22.4609 7.73438 22.4219 7.92969 22.3438 8.08594C20.2344 12.2266 16.0156 15 11.25 15C6.44531 15 2.22656 12.2266 0.117188 8.08594C0.0390625 7.92969 0 7.73438 0 7.5C0 7.30469 0.0390625 7.10938 0.117188 6.95312C2.22656 2.8125 6.44531 0 11.25 0C16.0156 0 20.2344 2.8125 22.3438 6.95312ZM11.25 13.125V13.1641C14.3359 13.1641 16.875 10.625 16.875 7.53906V7.5C16.875 4.41406 14.3359 1.875 11.25 1.875C8.125 1.875 5.625 4.41406 5.625 7.5C5.625 10.625 8.125 13.125 11.25 13.125ZM11.25 3.75V3.78906C13.3203 3.78906 15 5.42969 15 7.5C15 9.57031 13.3203 11.25 11.25 11.25C9.17969 11.25 7.5 9.57031 7.5 7.5C7.5 7.1875 7.53906 6.83594 7.61719 6.52344C7.92969 6.75781 8.32031 6.875 8.75 6.875C9.76562 6.875 10.5859 6.05469 10.5859 5.03906C10.5859 4.60938 10.4688 4.21875 10.2344 3.90625C10.5469 3.82812 10.8984 3.78906 11.25 3.75Z"
                    fill="#49BBBD"></path>
                </svg>
                <span>250,244</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- btns -->
    <div class="text-end mt-5">
      <button class="size-8 bg-[#49bbbdc9] inline-flex items-center justify-center rounded-sm cursor-pointer"><svg
          width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path id="1683d47a"
            d="M0.421875 6.79688C0 7.26562 0 7.96875 0.421875 8.39062L6.79688 14.7656C7.26562 15.2344 7.96875 15.2344 8.39062 14.7656L9.46875 13.7344C9.89062 13.2656 9.89062 12.5625 9.46875 12.1406L4.92188 7.59375L9.46875 3.09375C9.89062 2.67188 9.89062 1.92188 9.46875 1.5L8.39062 0.421875C7.96875 0 7.26562 0 6.79688 0.421875L0.421875 6.79688Z"
            fill="white"></path>
        </svg> </button>
      <button class="size-8 bg-[#49BBBD] inline-flex items-center justify-center rounded-sm cursor-pointer"><svg
          width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path id="d5e13064"
            d="M9.46875 8.39062C9.89062 7.96875 9.89062 7.26562 9.46875 6.79688L3.09375 0.421875C2.625 0 1.92188 0 1.5 0.421875L0.421875 1.5C0 1.96875 0 2.67188 0.421875 3.09375L4.96875 7.64062L0.421875 12.1406C0 12.5625 0 13.2656 0.421875 13.7344L1.5 14.7656C1.92188 15.2344 2.625 15.2344 3.09375 14.7656L9.46875 8.39062Z"
            fill="white"></path>
        </svg> </button>
    </div>
  </div>
</section>

<section class="bg-gray-100 px-2" aria-label="Marketing Articles" role="Marketing Articles- container ">
  <div class="max-w-7xl mx-auto py-12">
    <!-- Section Heading -->
    <div class="flex justify-between items-center">
      <p class="mb-6 text-3xl font-bold text-gray-800">Marketing Articles</p> <a class="text-gray-800 underline"
        href="#">See All</a>
    </div>
    <!-- card-grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 items-stretch">
      <!-- card -->
      <div class="bg-white p-4 rounded-2xl">
        <!-- card image -->
        <div class="overflow-hidden rounded-2xl pb-2">
          <img class="w-full h-full" src="stud-1.jpg" alt="course-img">
        </div>
        <!-- card body -->
        <div class="">
          <div class="flex justify-between px-2">
            <div class="inline-flex gap-1 ">
              <div class="">
                <svg width="20" height="20" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="9615b0c0">
                    <rect id="b7eddd3e" x="0.5" y="0.5" width="9" height="9" rx="1.5" stroke="#D9D9D9">
                    </rect>
                    <rect id="8c543800" x="0.5" y="11.5" width="9" height="9" rx="1.5" stroke="#D9D9D9">
                    </rect>
                    <rect id="46d20585" x="11.5" y="11.5" width="9" height="9" rx="1.5" stroke="#D9D9D9">
                    </rect>
                    <rect id="37db3719" x="11.5" y="0.5" width="9" height="9" rx="1.5" stroke="#D9D9D9">
                    </rect>
                  </g>
                </svg>
              </div>
              <p class="font-semibold tracking-tight text-gray-500 text-sm ">Design</p>

            </div>
            <div class="inline-flex items-center gap-1 ">
              <div>
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="1151ade9"
                    d="M11.625 0C18.0469 0 23.25 5.20312 23.25 11.625C23.25 18.0469 18.0469 23.25 11.625 23.25C5.20312 23.25 0 18.0469 0 11.625C0 5.20312 5.20312 0 11.625 0ZM11.625 21C16.7812 21 21 16.8281 21 11.625C21 6.46875 16.7812 2.25 11.625 2.25C6.42188 2.25 2.25 6.46875 2.25 11.625C2.25 16.8281 6.42188 21 11.625 21ZM14.4844 16.125L10.5 13.2188C10.3594 13.125 10.3125 12.9375 10.3125 12.7969V5.0625C10.3125 4.78125 10.5469 4.5 10.875 4.5H12.375C12.6562 4.5 12.9375 4.78125 12.9375 5.0625V11.7188L16.0312 14.0156C16.3125 14.2031 16.3594 14.5312 16.1719 14.8125L15.2812 15.9844C15.0938 16.2656 14.7656 16.3125 14.4844 16.125Z"
                    fill="#D9D9D9"></path>
                </svg>
              </div>
              <p class="font-semibold tracking-tight text-gray-500 text-sm ">3 Month</p>
            </div>
          </div>
          <p class=" text-md  sm:text-xl md:text-2xl font-semibold text-gray-700 pt-2 tracking-tight">AWS
            Certified solutions Architect</p>
          <p class="text-sm  sm:text-md md:text-xl font-normal text-gray-500 py-2 tracking-tight">Lorem ipsum
            dolor sit amet, consectetur adipising elit, sed do eiusmod tempor</p>
        </div>

        <!-- card footer -->
        <div class="flex justify-between pt-2 ">
          <div class="flex items-center gap-2">
            <div class="size-5 overflow-hidden rounded-full">
              <img class="w-full h-full" src="stud-1.jpg" alt="user-img">
            </div>
            <p class="text-md tracking-tight font-semibold">Ravi Gahire</p>
          </div>
          <div class="inline-flex gap-2 items-center"><span
              class="text-md line-through font-bold text-gray-400">$100</span><span
              class="text-xl text-[#49BBBD] font-extrabold">$80</span></div>
        </div>
      </div>
      <!-- card -->
      <div class="bg-white p-4 rounded-2xl">
        <!-- card image -->
        <div class="overflow-hidden rounded-2xl pb-2">
          <img class="w-full h-full" src="stud-1.jpg" alt="course-img">
        </div>
        <!-- card body -->
        <div class="">
          <div class="flex justify-between px-2">
            <div class="inline-flex gap-1 ">
              <div class="">
                <svg width="20" height="20" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="9615b0c0">
                    <rect id="b7eddd3e" x="0.5" y="0.5" width="9" height="9" rx="1.5" stroke="#D9D9D9">
                    </rect>
                    <rect id="8c543800" x="0.5" y="11.5" width="9" height="9" rx="1.5" stroke="#D9D9D9">
                    </rect>
                    <rect id="46d20585" x="11.5" y="11.5" width="9" height="9" rx="1.5" stroke="#D9D9D9">
                    </rect>
                    <rect id="37db3719" x="11.5" y="0.5" width="9" height="9" rx="1.5" stroke="#D9D9D9">
                    </rect>
                  </g>
                </svg>
              </div>
              <p class="font-semibold tracking-tight text-gray-500 text-sm ">Design</p>

            </div>
            <div class="inline-flex items-center gap-1 ">
              <div>
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="1151ade9"
                    d="M11.625 0C18.0469 0 23.25 5.20312 23.25 11.625C23.25 18.0469 18.0469 23.25 11.625 23.25C5.20312 23.25 0 18.0469 0 11.625C0 5.20312 5.20312 0 11.625 0ZM11.625 21C16.7812 21 21 16.8281 21 11.625C21 6.46875 16.7812 2.25 11.625 2.25C6.42188 2.25 2.25 6.46875 2.25 11.625C2.25 16.8281 6.42188 21 11.625 21ZM14.4844 16.125L10.5 13.2188C10.3594 13.125 10.3125 12.9375 10.3125 12.7969V5.0625C10.3125 4.78125 10.5469 4.5 10.875 4.5H12.375C12.6562 4.5 12.9375 4.78125 12.9375 5.0625V11.7188L16.0312 14.0156C16.3125 14.2031 16.3594 14.5312 16.1719 14.8125L15.2812 15.9844C15.0938 16.2656 14.7656 16.3125 14.4844 16.125Z"
                    fill="#D9D9D9"></path>
                </svg>
              </div>
              <p class="font-semibold tracking-tight text-gray-500 text-sm ">3 Month</p>
            </div>
          </div>
          <p class=" text-md  sm:text-xl md:text-2xl font-semibold text-gray-700 pt-2 tracking-tight">AWS
            Certified solutions Architect</p>
          <p class="text-sm  sm:text-md md:text-xl font-normal text-gray-500 py-2 tracking-tight">Lorem ipsum
            dolor sit amet, consectetur adipising elit, sed do eiusmod tempor</p>
        </div>

        <!-- card footer -->
        <div class="flex justify-between pt-2 ">
          <div class="flex items-center gap-2">
            <div class="size-5 overflow-hidden rounded-full">
              <img class="w-full h-full" src="stud-1.jpg" alt="user-img">
            </div>
            <p class="text-md tracking-tight font-semibold">Ravi Gahire</p>
          </div>
          <div class="inline-flex gap-2 items-center"><span
              class="text-md line-through font-bold text-gray-400">$100</span><span
              class="text-xl text-[#49BBBD] font-extrabold">$80</span></div>
        </div>
      </div>

      <!-- card -->
      <div class="bg-white p-4 rounded-2xl">
        <!-- card image -->
        <div class="overflow-hidden rounded-2xl pb-2">
          <img class="w-full h-full" src="stud-1.jpg" alt="course-img">
        </div>
        <!-- card body -->
        <div class="">
          <div class="flex justify-between px-2">
            <div class="inline-flex gap-1 ">
              <div class="">
                <svg width="20" height="20" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="9615b0c0">
                    <rect id="b7eddd3e" x="0.5" y="0.5" width="9" height="9" rx="1.5" stroke="#D9D9D9">
                    </rect>
                    <rect id="8c543800" x="0.5" y="11.5" width="9" height="9" rx="1.5" stroke="#D9D9D9">
                    </rect>
                    <rect id="46d20585" x="11.5" y="11.5" width="9" height="9" rx="1.5" stroke="#D9D9D9">
                    </rect>
                    <rect id="37db3719" x="11.5" y="0.5" width="9" height="9" rx="1.5" stroke="#D9D9D9">
                    </rect>
                  </g>
                </svg>
              </div>
              <p class="font-semibold tracking-tight text-gray-500 text-sm ">Design</p>

            </div>
            <div class="inline-flex items-center gap-1 ">
              <div>
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="1151ade9"
                    d="M11.625 0C18.0469 0 23.25 5.20312 23.25 11.625C23.25 18.0469 18.0469 23.25 11.625 23.25C5.20312 23.25 0 18.0469 0 11.625C0 5.20312 5.20312 0 11.625 0ZM11.625 21C16.7812 21 21 16.8281 21 11.625C21 6.46875 16.7812 2.25 11.625 2.25C6.42188 2.25 2.25 6.46875 2.25 11.625C2.25 16.8281 6.42188 21 11.625 21ZM14.4844 16.125L10.5 13.2188C10.3594 13.125 10.3125 12.9375 10.3125 12.7969V5.0625C10.3125 4.78125 10.5469 4.5 10.875 4.5H12.375C12.6562 4.5 12.9375 4.78125 12.9375 5.0625V11.7188L16.0312 14.0156C16.3125 14.2031 16.3594 14.5312 16.1719 14.8125L15.2812 15.9844C15.0938 16.2656 14.7656 16.3125 14.4844 16.125Z"
                    fill="#D9D9D9"></path>
                </svg>
              </div>
              <p class="font-semibold tracking-tight text-gray-500 text-sm ">3 Month</p>
            </div>
          </div>
          <p class=" text-md  sm:text-xl md:text-2xl font-semibold text-gray-700 pt-2 tracking-tight">AWS
            Certified solutions Architect</p>
          <p class="text-sm  sm:text-md md:text-xl font-normal text-gray-500 py-2 tracking-tight">Lorem ipsum
            dolor sit amet, consectetur adipising elit, sed do eiusmod tempor</p>
        </div>

        <!-- card footer -->
        <div class="flex justify-between pt-2 ">
          <div class="flex items-center gap-2">
            <div class="size-5 overflow-hidden rounded-full">
              <img class="w-full h-full" src="stud-1.jpg" alt="user-img">
            </div>
            <p class="text-md tracking-tight font-semibold">Ravi Gahire</p>
          </div>
          <div class="inline-flex gap-2 items-center"><span
              class="text-md line-through font-bold text-gray-400">$100</span><span
              class="text-xl text-[#49BBBD] font-extrabold">$80</span></div>
        </div>
      </div>
      <!-- card -->
      <div class="bg-white p-4 rounded-2xl">
        <!-- card image -->
        <div class="overflow-hidden rounded-2xl pb-2">
          <img class="w-full h-full" src="stud-1.jpg" alt="course-img">
        </div>
        <!-- card body -->
        <div class="">
          <div class="flex justify-between px-2">
            <div class="inline-flex gap-1 ">
              <div class="">
                <svg width="20" height="20" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="9615b0c0">
                    <rect id="b7eddd3e" x="0.5" y="0.5" width="9" height="9" rx="1.5" stroke="#D9D9D9">
                    </rect>
                    <rect id="8c543800" x="0.5" y="11.5" width="9" height="9" rx="1.5" stroke="#D9D9D9">
                    </rect>
                    <rect id="46d20585" x="11.5" y="11.5" width="9" height="9" rx="1.5" stroke="#D9D9D9">
                    </rect>
                    <rect id="37db3719" x="11.5" y="0.5" width="9" height="9" rx="1.5" stroke="#D9D9D9">
                    </rect>
                  </g>
                </svg>
              </div>
              <p class="font-semibold tracking-tight text-gray-500 text-sm ">Design</p>
            </div>
            <div class="inline-flex items-center gap-1 ">
              <div>
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="1151ade9"
                    d="M11.625 0C18.0469 0 23.25 5.20312 23.25 11.625C23.25 18.0469 18.0469 23.25 11.625 23.25C5.20312 23.25 0 18.0469 0 11.625C0 5.20312 5.20312 0 11.625 0ZM11.625 21C16.7812 21 21 16.8281 21 11.625C21 6.46875 16.7812 2.25 11.625 2.25C6.42188 2.25 2.25 6.46875 2.25 11.625C2.25 16.8281 6.42188 21 11.625 21ZM14.4844 16.125L10.5 13.2188C10.3594 13.125 10.3125 12.9375 10.3125 12.7969V5.0625C10.3125 4.78125 10.5469 4.5 10.875 4.5H12.375C12.6562 4.5 12.9375 4.78125 12.9375 5.0625V11.7188L16.0312 14.0156C16.3125 14.2031 16.3594 14.5312 16.1719 14.8125L15.2812 15.9844C15.0938 16.2656 14.7656 16.3125 14.4844 16.125Z"
                    fill="#D9D9D9"></path>
                </svg>
              </div>
              <p class="font-semibold tracking-tight text-gray-500 text-sm ">3 Month</p>
            </div>
          </div>
          <p class=" text-md  sm:text-xl md:text-2xl font-semibold text-gray-700 pt-2 tracking-tight">AWS
            Certified solutions Architect</p>
          <p class="text-sm  sm:text-md md:text-xl font-normal text-gray-500 py-2 tracking-tight">Lorem ipsum
            dolor sit amet, consectetur adipising elit, sed do eiusmod tempor</p>
        </div>

        <!-- card footer -->
        <div class="flex justify-between pt-2 ">
          <div class="flex items-center gap-2">
            <div class="size-5 overflow-hidden rounded-full">
              <img class="w-full h-full" src="stud-1.jpg" alt="user-img">
            </div>
            <p class="text-md tracking-tight font-semibold">Ravi Gahire</p>
          </div>
          <div class="inline-flex gap-2 items-center"><span
              class="text-md line-through font-bold text-gray-400">$100</span><span
              class="text-xl text-[#49BBBD] font-extrabold">$80</span></div>
        </div>
      </div>
    </div>
  </div>
</section>

