<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <%-include('../partials/header.ejs')%>
        <section aria-label="blog page container" class="bg-[#9dccff67]">
            <div class="max-w-7xl mx-auto">

                <div class="flex items-center md:justify-center py-12">
                    <!-- content side -->
                    <div class=" md:w-1/2  pl-5 ">
                        <p class="text-md text-gray-500">By the mad-brains in <span class="text-cyan-800">inspiration</span></p>
                        <p class="text-3xl py-5  font-semibold text-gray-800">Why Swift UI Should Be on the <br> Radar of Every Mobile <br>Developer</p>
                        <p class="text-xl text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing <br>elit,  sed do eiusmod tempos Lorem ipsum
                            dolor <br>sitamet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                        <div class="py-5">
                            <a href="#" role="button" class="px-5 py-2 bg-[#49BBBD] rounded-md text-white font-bold">
                            Start learning now
                        </a>
                        </div>
                    </div>
                    <!-- image side -->
                    <div class="w-1/2 h-100 overflow-hidden py-5 hidden md:block ">
                        <img class="w-full h-full rounded-2xl" src="pexels-lilartsy.jpg" alt="img">
                    </div>
                </div>
            </div>
        </section>
</body>
</html>